*{
text-align: center;
margin: 0;
padding: 0;
}
.container{
    background-color: aqua;
}
.row{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#col1{
background-color: blueviolet;
float: left;
border: 5px solid white;
}
#col2{
background-color: rgb(207, 123, 123);
float: left;
border: 5px solid white;
height: 300px;
}
#col3{
background-color: chartreuse;
float: left;
border: 5px solid white;
height: 300px;
}
#col4{
background-color: rgb(255, 0, 0);
float: left;
border: 5px solid white;
height: 300px;
}
#col5{
    background-color: blue;
    float: left;
    border: 5px solid white;
}
#col6{
background-color: rgb(251, 255, 0);
float: left;
border: 5px solid white;
}
