.container{
    background-color: aqua;
}
.row{
    background-color: blue;
}
#col1{
background-color: blueviolet;
}
#col2{
background-color: brown;
}
#col3{
background-color: chartreuse;
}
